<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StuffTracker | Add Product</title>
</head>
<body>
<h1 style="text-align:center;">Add Product</h1>
{# Getting input. Trickiest part was getting the file uploading to work. #}
<form action="/product_added" method="post" enctype="multipart/form-data">
    Item:<br>
    <input name="product" type="text"><br>
    Description:<br>
    <input name="description" type="text"><br>
    Price:<br>
    <input name="price" type="text"><br>
    Year Acquired:<br>
    <input name="yearAcquired" type="text"><br>
    Location:<br>
    <input name="location" type="text"><br>
    UPC:<br>
    <input name="UPC" type="text"><br>
    Image:<br>
    <input name="imageName" type="text"><br><br>
    <input name="file" type="file">
    <input type="submit" value="Add Item">
</form>
<p align="center"><a href="{{ url_for("show_products") }}">Return to Products Page</a></p>
<p align="center"><a href="/">Return to Home Page</a></p>
</body>
</html>