<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StuffTracker | Edit Product</title>
    <style>
        body {
            background-color: #cccccc;
        }
        table {
            margin: auto;
            border-collapse: collapse;
            width: 50%;
            background-color: #aaabbf;
        }
        td {
            padding: 3px;
            text-align: right;
            border-bottom: 1px solid #ddd;
        }
        #td01 {
            padding: 3px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <form action="/products/{{ product.id }}/edit_successful" method="post">
        <table>
            <tr><td>Name:</td> <td id="td01"> <input name="name" id="pname" type="text" value="{{ product.name }}"></td></tr>
            <tr><td>Description:</td> <td id="td01"> <input name="desc" id="pdesc" type="text" value="{{ product.desc }}"></td></tr>
            <tr><td>Price:</td> <td id="td01"> <input name="price" id="pprice" type="text" value="{{ product.price }}"></td></tr>
            <tr><td>Year Acquired:</td> <td id="td01"> <input name="year_acquired" id="pyear" type="text"
                                                   value="{{ product.year_acquired }}"></td></tr>
            <tr><td>Location:</td> <td id="td01"> <input name="location" id="plocation" type="text" value="{{ product.location }}"></td></tr>
            <tr><td>UPC:</td> <td id="td01"> <input name="upc" id="pupc" type="text" value="{{ product.upc }}"></td></tr>
            <tr><td> </td><td id="td01"><input type="submit" value="Submit Changes"></td></tr>
        </table>
    </form>
    {% if error %}
    <h2 style="color:red;text-align:center;">Error: Year must be an integer value, and price must be a decimal value.</h2>
    {% endif %}
</body>
</html>