<!DOCTYPE html>
{# I've taken a lot of info from the tutorials at w3schools.com. #}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StuffTracker | Products</title>
    {# Figuring out design-y stuff. #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
{# A for loop to display all the products in the database. Loops through the dictionary
   of products that are passed to this template. #}
{% for product in products %}
    <h1 style="text-align:center;">{{ product.name }}</h1>
    <img src="{{ product.image }}">
    <table>
        <tr>
            <td>Description:</td>
            <td>{{ product.desc }}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ product.price | currencyfilter }}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{ product.location }}</td>
        </tr>
        <tr>
            <td>Year Acquired:</td>
            <td>{{ product.year_acquired }}</td>
        </tr>
        <tr>
            <td>UPC:</td>
            <td>{{ product.upc }}</td>
        </tr>
    </table>
    {# A link to this product's own page. #}
    <h2 align="center"><a href="products/{{ product.id }}">Go To Product Page</a></h2>
{% endfor %}
<br><br><br>
{# Links back to the other main pages. #}
<h3 align="center"><strong><a href="add_product">Add New Product</a></strong></h3>
<p align="center"><a href="/">Return to Home Page</a></p>
<p align="center"><a href="/inventory_stats">View Inventory Statistics</a></p>
{# Radio buttons allowing the user to choose the order in which the products appear. #}
<form action="/products", method="post">
    <p align="center">
        Order Products By: <br>
        <input type="radio", name="orderby", value="alphabetical"> Alphabetical
        <input type="radio", name="orderby", value="location"> Location
        <input type="radio", name="orderby", value="value"> Value <br>
        <input type="radio", name="orderby", value="newest"> Newest
        <input type="radio", name="orderby", value="oldest"> Oldest <br>
        <input type="submit", value="Go">
    </p>
</form>
</body>
</html>